/* Table Practice */
table,
th,
td{
    border-collapse: collapse;
    padding: 15px;
}
tbody tr{
    border-bottom: 1px solid #ccc;
}
tbody tr:last-child{
    border-bottom: 3px solid #5bbca9;
}
thead {
    background-color: #5bbca9;
    color: #fff;
}
thead tr:first-child{
    background-color: #2e5d54;
    color: #fff;
}
thead tr:first-child th{
    border-top-left-radius: 6px;
}
thead tr:first-child th{
    border-top-right-radius: 6px;
}
/* thead tr th:first-child{
    border-top-left-radius: 5px;
}
thead tr th:last-child{
    border-top-right-radius: 5px;
} */
tbody tr:nth-child(even){
    background-color: #eee;
    color: #5bbca9;
}

/* Selector Practice */

/* This way effect on all p in products_1 */
.products_1 p{
    color: red;
}

/* This way effect on all p which is directly child of products_2 */
.products_2 > p{
    color: red;
}

/* This way effect on all p which is a sibling of products_3 */
.products_3 ~ p{
    color: red;
}

/* This way effect on first p which is a sibling of products_4 */
.products_4 + p{
    color: red;
}

/* attribute selector */
a[target]{
    color: green;
}
a[target="_blank"]{
    color: yellowgreen;
}

/* contains -->   *=  */
a[href*="fronthooks"]{
    font-size: 40px;
}
/* start with -->  ^= */
a[href^="https"]{
    font-weight: 900;
}
/* ends with -->  $=  */
a[href$=".ir"]{
    font-style: italic;
}

/* pseudo classes
    :first-child
    :last-child
    :first-of-type --> first child of each type
    :last-of-type  --> last child of each type
    :nth-child(even)
    :nth-child(2n)
    :nth-child(odd)
    :nth-child(2n+1)
    :nth-child(3n)

    :hover
    :visited
    :link
    :active
    :focus  --> when the link select by tab key
*/

.pseudo :first-child{
    color: red;
}
.pseudo :last-child{
    background-color: #2e5d54;
}
.pseudo :first-of-type{
    font-size: 40px;
}
.pseudo :last-of-type{
    font-style: italic;
}
.pseudo :nth-child(3n){
    border: 3px solid salmon;
}
.pseudo a:link{
    color: yellow;
}
.pseudo a:active{
    color: red;
}
.pseudo a:hover{
    background-color: yellowgreen;
}
.pseudo a:visited{
    color: purple;
}

/* pseudo element
    ::first-letter
    ::first-line
    ::after
    ::before
*/

.pseudo :last-child::first-letter{
    font-size: 280px;
}
.pseudo p:nth-child(2n)::first-line{
    font-size: 140px;
}
.pseudo :last-child::before{
    content: "...";
}
.pseudo :last-child::after{
    content: "...";
    font-size: 35px;
    color: #5bbca9;
}